assets/* linguist-vendored
*.css linguist-detectable=false
*.js linguist-detectable=false
error.js linguist-detectable=true
custom.js linguist-detectable=true
custom.css linguist-detectable=true
floatingbutt.css linguist-detectable=true